* {
  box-sizing: border-box;
}

:root {
  --header_footer_green: #80a768;
  --tekst: "Times New Roman", Times, serif;
}
main {
  padding: 10px;
  max-width: 1000px;
  background-color: #ffefe0;
}
.logo a {
  text-decoration: none;
  color: inherit;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-bottom: 4px;
}

.menu-item p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1rem;
}

.price {
  min-width: 100px;
  text-align: right;
  margin-left: 20px;
}

body {
  margin: 0;
  font-family: var(--tekst);
  font-size: large;
  color: white;
}

.menu-container {
  background-color: var(--header_footer_green);
  margin: 2rem auto;
  padding: 3rem 2rem;
  max-width: 600px;
}
.menu-streg {
  border: 1.5px solid white;
  padding: 2rem;
  margin: 0 auto;
  max-width: 100%; /* Justér hvor meget mindre den hvide boks skal være */
}
h1,
h2 {
  text-align: center;
  margin: 1rem 0;
}
.drikkevarer {
  font-family: "Poiret One";
  font-size: 40px;
  font-weight: 500;
  color: #fff0fb;
  margin-top: -6%;
}
.section {
  margin-bottom: 2rem;
}

.section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 3px dotted #ccc; /* valgfrit: en linje mellem rækker */
}

.row span:last-child {
  text-align: right;
  white-space: nowrap;
}

@media screen and (min-width: 799px) {
  main {
    margin: auto;
  }
  .section-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .section-center {
    display: flex;
    justify-content: center;
  }

  .section-center .section {
    max-width: 400px;
    width: 100%;
  }
  .menu-container {
    max-width: 900px;
  }

  .menu-streg {
    border: 1.5px solid white;
    padding: 3rem;
    margin: 0 auto;
  }
}
