* {
  box-sizing: border-box;
}

:root {
  --header_footer_green: #80a768;
  --tekst: "Times New Roman", Times, serif;
}

main {
  padding: 10px;
  max-width: 1000px;
  background-color: #ffefe0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  margin-left: -2.3%;
  margin-top: -3%;
  max-width: 100vw;
  height: auto;
  display: block;
}

img.udenfor {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  max-width: 100vw;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 20; /* højere end 10 */
}
.logo a {
  text-decoration: none;
  color: inherit;
}
main {
  text-align: left;
  flex: 1;
}
/****PILSNER****/

.infoboks {
  position: relative;
  background-color: var(--header_footer_green);
  padding: 0px 10px;
  font-size: 25px;
  line-height: 2;
  color: white;
  max-width: 169px;
  margin-top: -39px;
  margin-left: 105px;
  margin-bottom: 19px;
  z-index: 10;
  border: 1px solid black;
  -webkit-text-stroke: 0.3px black; /* sort kant rundt om tekst */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Let tekst-skygge */
}

.knap a {
  text-decoration: none;
  color: inherit;
  position: relative;
  background-color: var(--header_footer_green);
  font-size: 25px;
  line-height: 2;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  padding: 10px 20px; /* Luft rundt om teksten */
  border-radius: 102px; /* Runde hjørner */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Let tekst-skygge */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Skygge på knappen for dybde */
  display: inline-block; /* Sørger for at padding virker fint */

  width: 200px; /* Gør knappen bredere */
  max-width: 90%; /* Så den ikke bliver for bred på små skærme */
  text-align: center; /* Centrer teksten i knappen */
  margin-top: 10px; /* Luft omkring og centrer knappen */
  margin-bottom: 100px;
  margin-left: 110px;
}
.knap a:hover {
  background-color: #587347; /* En lidt mørkere grøn */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Større skygge på hover */
  cursor: pointer; /* Ændrer muse-pilen til hånd for at vise det er klikbart */
}
.pilsner-pris {
  display: flex;
  justify-content: flex-start;
  gap: 23px;
}

.pilsner {
  font-family: "Zapfino", cursive;
  font-size: 22px;
}

.pris {
  font-weight: normal;
  font-family: var(--tekst);
  margin-top: -17%;
}
/****PILSNER****/
